<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notificationdemo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:enabled="true" android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <receiver android:name=".PlayReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="my_notification" />
            </intent-filter>
        </receiver>

        <service android:name=".MyService" />
        <service android:name=".SetAlarmService" />
        <service android:name=".TService" />

        <activity
            android:name=".mainActivity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
